.container {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 42vh;
    min-height: 11vh;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
}

img {
    cursor: deafult;
}